a.nav-link {
  font-size: 1.1em;
  letter-spacing: 2px;
  margin-left:15px;
}
.lunbo {
  position: relative;
  bottom: -66px;
}

span.name {
  font-size: 1em;
  font-family: 'FZYaoti';
  position: relative;
  bottom: -3px;
  letter-spacing: 1px;
  margin-left:3px;
}
h5, p.yaoti{
    font-family: 'FZYaoti';
    font-size: 1.1em
}
p.yaoti{
  font-size: 1.4em;
}
p.lead{
  font-size: 2.5em;
}
.huanying {
  position: relative;
  bottom: -66px;
  font-family: 'FZYaoti';
}
nav {
  opacity:1.0;
}
div.kkkk{
  opacity:1.0;
}
figure {
  position: relative;
  width: 100%;
  height: 40%;
  margin: 0;
}

#fixed {
  background-image: url('E:/CUC/数营/2021春/交互设计/EldenBob.github.io/期中作业/img/heying.jpg');
  height: 300px;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
}
